@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-bg: #0d1321;
  --dark-primary: #293c66;
  --dark-secondary: #17223a;
  --dark-accent: #7d2e68;
  --dark-text: white;
  --dark-secondary-text: gray;

  background-color: var(--dark-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark-text {
  color: var(--dark-text);
}
