@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #0d1321;
  --primary: #293c66;
  --secondary: #17223a;
  --accent: #7d2e68;
  --text: white;
  --secondary-text: gray;

  background-color: var(--bg);
  color: var(--text);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* General scrollbar styling */
::-webkit-scrollbar {
  width: 6px; /* Width of the vertical scrollbar */
  height: 6px; /* Height of the horizontal scrollbar */
}

/* Track styling */
::-webkit-scrollbar-track {
  background: transparent; /* Color of the scrollbar track */
  border-radius: 6px; /* Rounded corners for the track */
  margin: 20px 0px;
}

/* Handle styling */
::-webkit-scrollbar-thumb {
  background: var(--primary); /* Color of the scrollbar handle */
  border-radius: 6px; /* Rounded corners for the handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}
