@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #0d1321;
  --primary: #293c66;
  --secondary: #17223a;
  --accent: #7d2e68;
  --text: white;
  --secondary-text: gray;

  background-color: var(--bg);
  color: var(--text);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
